*{
    padding:0px;
    margin:0px;    
}

html{
    width:1000px;
    height:100%;
    margin: auto;
}
body{
    height:100%;
    width:1000px;
    position:relative;
    background: url(../images/content-bg.png) left repeat-y;
}

html > body{
    width:1000px;
    min-height:100%;
    height:100%;
    min-width:100%
}

/*banner*/
#header_inside{
    width:1000px;
    margin:0 auto;
    position:relative;

}
/* menu @ banner*/
#menu{
    position:absolute;
    top:165px;
    left:80px;
}
#menu li{
    display:inline;
}
#menu a{
    margin:0 1px 0 0;
    width:200px;
    text-align:center;
    padding:8px 0 10px 0;
    display:block;
    float:left;
    font-weight: bold;
    text-decoration:none;
    font: 400 45px/0.8 'Cookie', Helvetica, sans-serif;
    color: #333333;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);     
}
#menu a:hover
{
    color:#066854;
    text-decoration:underline;
    display: block;
    width:200px;
    line-height: 30px;
}

/* Now have 4 */
#menu .but1_active
#menu .but2_active
#menu .but3_active
#menu .but4_active


/* body down here */
#wrapper{
    padding:0 0 0 0;
    height:100%;
    width:1000px;
    min-width: 100%;
    background-color:#F3F1E9;    
} 

#content_inside{
    background:url('../images/gradient-bg.png') repeat-x;
    width:800px;
    padding:0 0 0 0;
    margin:0 0 0 0;
    overflow:auto;
    float:left;
}

/* categories on left */
#sidebar{
    width:145px;
    height:auto;
    float:left;
    padding:40px 32px 0 23px;
    margin:0 0 0 0;
    font: 400 18px/0.8 'Cookie', Helvetica, sans-serif;
    color: #cca1bd;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

#list{
    list-style-type:none;
    margin:11px 0 0 0;
    line-height:30px;
    padding:0 0 0 10px;
}
#list :hover{
    background-color:#ECCCDD;
}
#list a{
    font: 28px 'Cookie', Helvetica, sans-serif;
    color:#0D0D0D;
    text-decoration:none
}
#list a:visited{text-decoration:none}
#list a:hover{text-decoration:underline;}

#list li{
    width:175px;
}

/* body exclude sidebar */
#main_block{
    font-family: Cambria, Georgia, serif;
    font-size:14px;
    color:#464646;
    overflow:hidden;
    float:left;
    width:750px;
}

#error{
    font-family: Cambria, Georgia, serif;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:99.5%;
    height: 25px;
    background-color:#ff6666;
    border-style: dotted;;
}
/*
#info{
    font-family: Cambria, Georgia, serif;
    text-align: center;
    text-decoration-color: #d706d0;
    margin-left:auto;
    margin-right:auto;
    width:99.5%;
    height: 25px;
    //background-color:#ff6666;
    //border-style: dotted;;
}
*/
/* picture slide in home page */
.fadein { 
    height:173px; 
    width:202px; 
    margin:0 auto;
    padding: 10px;
    float: left;
 }
.fadein img { 
    margin:0 auto;
}

.about{
    padding:13px 0 0 45px;
    width:420px;
    float:left;
    margin:0 25px 0 10px;
}
.about p{
    padding:5px 0 0 12px;
    font-size: 18px;
}

.stats{
    padding:13px 0 0 45px;
    width:700px;
    float:left;
    margin:0 25px 0 10px;
}
.stats p{
    padding:5px 0 0 12px;
    font-size: 18px;
}
.stats form{
    padding:5px 0 0 12px;
    font-size: 16px;
}
.statsReport{
    padding:13px 0 0 45px;
    margin:0 50px 0 50px;
}

.statsReport table{
    //padding:13px 0 0 45px;
    margin:0 25px 0 10px;
    font-size: 18px;

}
.statsReport td{
    padding:8px 0 8px 10px;
    margin:0 25px 0 10px;
    font-size: 18px;
    font-style: oblique;

}
/* login */
.news{
    background-color:#ECECC5;
    border:1px solid #DFDEC0;
    width:500px;
    float:left;
    padding:15px 15px 15px 15px;
    margin:10px 0 0 10px;
}
.news p{
    padding:5px 0 0 2px
}
.box{
    background-color:#ECECC5;
    border:1px solid #DFDEC0;
    width:270px;
    float:left;
    padding:13px 5px 13px 15px
}
.box p{
    padding:5px 0 0 2px
}

/*view products from categories*/
#items{
    float:left;
    padding:22px 0 0 0;
    width:770px;
}
.item{
    width:241px;
    height:265px;
    float:left;
    background-position:top left;
    background-repeat:no-repeat;
    padding:0 12px 15px 0;
    display:inline;
}
.item img{
    margin:26px 0 0 25px;
}

.view{
    display:block;
    float:left;
    line-height:18px;
    margin:7px 3px 0 43px;
    width:180px;
    text-align:center;
    text-decoration:none;
    color:#000333; 
}

/* view product's detail */
#item{
    width:303px;
    height:260px;
    padding:13px 0 0 25px;
    float:left;
    
}
#item h4{
    font-family: Cambria, Georgia, serif;
    font-size:24px;
    color:#242424;
    font-weight:normal;
}
.big_view{
    width:303px;
    height:260px;
    vertical-align:middle;
    border:1px solid #D6D3C7;
    background-color:#FFFFFF;
    position:relative;
    margin:5px 0 100px 0;
}
.description{
    float:left;
    padding:100px 0 0 70px;
}
.description td{
    padding-bottom:15px;
    font-size: 18px;
}

/* Shopping cart and Interests's table */
#frame {
    margin-left:auto;
    margin-right:auto;
    width:95%;
    padding: 15px 5px 5px 15px;
}
#frame td{
    text-align: center;
    padding: 5px 5px 5px 5px;
}
#frame table{
    text-align: center;
    margin: 5px 5px 5px 15px;
    font-family: Cambria, Georgia, serif;
}

#footer{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 12px;
    text-align: center;
    width:100%;
    height:10px;
    position:absolute;
    bottom:0px;
}
